@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './base.css';
@import "tailwindcss";
@import "flowbite/src/themes/default";


@theme {
  --color-purpleRain: #75459B;
  --color-hooverPink: #C63C96;
  --color-almostBlack: #161616;
  --color-darkGray: #514F4F;
  --color-pinkyWhite: #FEF8FB;
}

