@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import './base.css';
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";



@theme {
  /* Retro SNES/NES Color Palette */
  --color-purpleRain: #8B4FBD;
  --color-hooverPink: #FF1493;
  --color-almostBlack: #000033;
  --color-darkGray: #1a1a3e;
  --color-pinkyWhite: #F8F8FF;
  --color-neonCyan: #00FFFF;
  --color-neonGreen: #00FF00;
  --color-retroYellow: #FFFF00;
  --color-retroRed: #FF0000;
  --color-retroBlue: #0000FF;
}


